.button {
    background-color: var(--blue);
    border: none;
    color: white;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 900;
    cursor: pointer;
  }