.gradient {
    background: linear-gradient(90deg,#4ca5ff 2.34%,#b673f8 100.78%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .xs {
    font-weight: 600;
    font-size: 30px;
    color: white;
    line-height: 40px;
  }
  .s {
    font-weight: 600;
    font-size: 50px;
    color: white;
    line-height: 70px;
  }
  .l {
    font-weight: 600;
    font-size: 64px;
    color: white;
    line-height: 70px;
  }